/Michael_Worthington_ME433-master/Homework4.X/nbproject/private/
/Michael_Worthington_ME433-master/Homework4.X/build/default/
/Michael_Worthington_ME433-master/Homework4.X/dist/default/
/Michael_Worthington_ME433-master/Homework6.X/nbproject/private/
/Michael_Worthington_ME433-master/Homework6.X/build/default/
/Michael_Worthington_ME433-master/Homework6.X/dist/default/
/Michael_Worthington_ME433-master/Homework5.X/nbproject/private/
/Michael_Worthington_ME433-master/Homework5.X/build/default/
/Michael_Worthington_ME433-master/Homework5.X/dist/default/
/Michael_Worthington_ME433-master/Homework7.X/nbproject/private/
/cdc_serial_emulator/nbproject/private/
/Michael_Worthington_ME433-master/Homework13/PIC_cdc/cdc_serial_emulator/nbproject/private/
/Michael_Worthington_ME433-master/pwm_start.X/nbproject/private/
/Michael_Worthington_ME433-master/pwm_start.X/build/default/
/Michael_Worthington_ME433-master/pwm_start.X/dist/default/